<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" href="/adminhome.css"></link>
</head>
<body>
	<div class="container" style="background-color:red; ">
		<div class="box2">
		<p>
			<b>Admin Home Page</b>
		</p>
		<br/>
	<form class="admin" action="newsong">
		<button class="large-button" style="background-color:aqua; color:black;"><b>ADD NEW SONGS</b></button>
	</form>
	<br/>
	
	<form class="admin" action="viewsong">
		<button class="large-button" style="background-color:aqua; color:black;"><b>VIEW SONGS</b></button>
	</form>
	<br/>
	<form class="admin" action="createplaylists">
		<button class="large-button" style="background-color:aqua; color:black;"><b>CREATE PLAYLISTS</b></button>
	</form>
	<br/>
	<form class="admin" action="viewplaylists">
		<button class="large-button" style="background-color:aqua; color:black;"><b>VIEW PLAYLISTS</b></button>
	</form>
	<!-- <a href="/createplaylist">Create PlayList</a> -->
	
		</div>
	</div>
	

</body>
</html>