<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Your PlayLists</title>
</head>
<body>
<h1>Create Your Playlist</h1>
<form action="addplaylist" method="post">
	<label>Playlist Name:</label><br>
	<input type= "text" name= "name">
	<br/>
	
	<div th:each="song:${songs}">
		<input type="checkbox" th:name="songs" th:value="${song.id}">
		<label th:text="${song.name}"></label>
	</div>
	<br/>
	
	<input type="submit" value="ADD PLAYLIST">
	</form>
</body>
</html>