<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>INDEX</title>
<link rel=stylesheet type=text/css th:href="@{/index.css}">
</head>
<body>
	<div class="container">
		<div class="Side">
			<p>The Best <b>"Music Player"</b></p><br/>
			<h2>Enjoy the best music</h2>
			<h2>One good thing about music, when it hits you, you feel no pain. ...BOB MARLEY</h2>
			

		</div>
		<div class="box">
			<h1>Welcome To TuneHub</h1>
			<a href="login"><button class="log">LOGIN</button></a> <br /> <br />
			<br /> <a href="registration"><button class="reg">REGISTER</button></a>
		</div>
	</div>



</body>
</html>